﻿<%@ Page Title="" Language="C#" MasterPageFile="~/customSite.Master" AutoEventWireup="true" CodeBehind="settingPrinter.aspx.cs" Inherits="wmsGoldbell.settingPrinter" %>

<%@ Register TagPrefix="web" TagName="mdlNewPrinter" Src="~/subModule/configuration/printer/newPrinterModal.ascx"%>
<%@ Register TagPrefix="web" TagName="mdlEditPrinter" Src="~/subModule/configuration/printer/editPrinterModal.ascx"%>

<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">
    <web:mdlNewPrinter id="newPrinterModalId" runat="server"/>
    <web:mdlEditPrinter id="editPrinterModalId" runat="server"/>
<link href="ajnRes/ajnVuetableCss.css" rel="stylesheet" type="text/css" media="screen" />
    <div id="page-wrapper" style="padding:0px;">
        <div class="row">
            <div class="col-lg-3">
                <a class="btn btn-block btn-social btn-linkedin" id="btnCreateNewPrinter">
                                <i class="fa fa-plus"></i> Create New Printer
                </a>  
            </div>
            <div class="form-group col-lg-2 col-lg-offset-7">
                <div style="margin: 10px 0 0 0;">
                    <label >Show All</label>
                    <input id="chkPrinterShowAll" type="checkbox" onchange="chkPrinterShowAll_onChanged()" value="" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div id="printerVueDivId">
                    <div class="table-responsive" style="height:92vh">
                        <vuetable
                            api-url="/ws/ims-ws.asmx/getAllPrinterInfo"
                            table-class="table table-bordered table-striped table-hover"
                            :fields="columns"
                            :item-actions="printerActions"
                            :append-params="moreParams"      
                            pagination-path=""
                            :sort-order="sortOrder"
                            :multi-sort="multiSort"
                            ascending-icon="glyphicon glyphicon-chevron-up"
                            descending-icon="glyphicon glyphicon-chevron-down"
                            pagination-class=""
                            pagination-info-class=""
                            pagination-component-class=""
                            :pagination-component="paginationComponent"
                            :per-page="perPage"
                            wrapper-class="vuetable-wrapper"
                            table-wrapper=".vuetable-wrapper"
                            loading-class="loading"
                        ></vuetable>
                    </div>
                </div>  
            </div>
        </div>
    </div>
    <script src="js/configuration/printer/printerJs.js"></script>
</asp:Content>