﻿/*.fa-stack-right-top {
    top: -8px;
    right: 30px;
}

.modal-open {
    overflow: scroll;
}*/
.modal-header {
    padding-top: 8px;
    padding-bottom: 8px;
}

#divLoader .modal-backdrop
{
    opacity:0.5 !important;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  align-self: center;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.tableTotalDisplay td, .dynamicTable .table td, .dynamicTable .table th {
    padding: 3px;
}

.dynamicTable input:focus {
    background-color: yellow;
    font-weight: bold;
}

.itemScrollable10 {
    width: 10vw;
}

.itemScrollable15 {
    width: 15vw;
}

.itemScrollable20 {
    width: 20vw;
}

.itemScrollable25 {
    width: 25vw;
}

.itemScrollable30 {
    width: 30vw;
}

.itemScrollable35 {
    width: 35vw;
}

.itemScrollable40 {
    width: 40vw;
}

.itemScrollable50 {
    width: 50vw;
}

.itemScrollable60 {
    width: 60vw;
}

.itemScrollable80 {
    width: 80vw;
}

.headerScrollable {
    width: 70vw !important;
}

.itemSrollable150PX {
    width: 150px;
}

.itemSrollable200PX {
    width: 200px;
}

.itemSrollable280PX {
    width: 280px;
}


.itemScrollable10, .itemScrollable15, .itemScrollable20, .itemScrollable25, .itemScrollable30, 
.itemScrollable35, .itemScrollable40, 
.itemScrollable50, .itemScrollable60, .itemScrollable80, .itemScrollable100, .headerScrollable,
.itemSrollable150PX, .itemSrollable280PX, .itemSrollable200PX {
    display: block !important;
    float: left !important;
    padding-left: 5px !important;
    overflow: auto !important;
    white-space: nowrap !important;
}

.popover.right .arrow:after {
  border-right-color: #536878;
}

.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

.modal-header .close {
    float: right !important;
    margin-right: -30px !important;
    margin-top: -30px !important;
    background-color: black !important;
    border-radius: 15px !important;
    width: 30px !important;
    height: 30px !important;
    opacity: 1 !important;
    color: white; 
}
